body {
	background: #fff !important;
}

.skin-blue .wrapper {
	background: #fff !important;
}

#root {
	min-height: calc(100vh) !important;
}

.pagination {
	margin: 0;
	padding: 0;
	text-align: right;
	float: right;
}